/* CSS TABLE OF CONTENTS

# BASE CONTENT
    # BASE TYPOGRAPHY
        # HEADINGS
        # PARAGRAPHS
        # BLOCKQUOTES
        # HELPERS
    # MEDIA
        # IMAGES
    # COMPONENTS
        # BUTTONS
    # LAYOUT
        # CONTAINER
        # MEDIA CONTAINER
        # GRID
    # STRUCTURE
        # HEADER
        # SECTIONS
        # FOOTER
    ...

*/

body {
  font-family: Avenir, ITC Bookman Std, Helvetica, Arial, sans-serif;
  font-size: 87.5%; /* 1em = 14px */
  line-height: 1.5em; /* 14px x 1.5 = 21px */
  color: white;
}

/* Traditional Typographic Scale
  16, 18, 21, 24, 36, 48
*/

h1, h2, h3, h4, h5, h6 {
  margin: .5em 0em;
}

h1 {
  font-size: 3em; /* 48px / 16 = 3em */
  line-height: 1em;
}

h2 {
  font-size: 2.25em; /* 36px / 16 = 2.25em */
  line-height: 1.1em;
}

h3 {
  font-size: 1.5em; /* 24px / 16 = 1.5em */
  line-height: 1.2em;
}

h4 {
  font-size: 1.3125em; /* 21px / 16 = 1.3125em */
  line-height: 1.3em;
}

h5 {
  font-size: 1.125em; /* 18px / 16 = 1.125em */
  line-height: 1.4em;
}

h6 {
  font-size: 1em; /* 16px / 16 = 1em */
  line-height: 1.5em;
}

/* LINKS */
a {
  text-decoration: none;
}

/* PARAGRAPHS */
p {
  margin: 0 0 .5em 0;
  max-width: 35em;
}

/* IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* HELPERS */
.text-centered {
  text-align: center;
}

/* COMPONENTS */

/* BUTTONS */
button {
  font-size: inherit;
}

a.button,
.button {
  display: inline-block;
  background: #39c;
  color: #fff;
  padding: 1em;
  border-radius: .9em;
  border: none;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: .5em;
}

a.button:hover {
  background: #069;
  text-decoration: none;
}

a.button.alt {
  background: none;
  border: 1px solid #39c;
  color: #39c;
}

a.button.alt:hover {
  background: #069;
  border: 1px solid #069;
  color: #fff;
}

/* BASE LAYOUT */

/* MEDIA QUERIES 

  #DEFAULT/#SMALL (Mobile First) 0-767px+
  #MEDIUM: min-with: 768PX+
  #LARGE: min-with: 1050PX+
  #EXTRALARGE: min-with: 1250PX+

*/

/* SMALL+ (MOBILE FIRST) */
body {
  font-size: 87.5%;
  margin: 0;
  padding: 0;
  background: lightblue;
}

.container {
  width: 92%;
  padding: 0 4%;
}

body.demo:before {
  content: 'Small (0-767px)';
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: red;
  text-align: center;
  color: #fff;
}

/* MEDIUM+ (TABLET) */
@media (min-width: 768px) {

  /* Inherit Small/Mobile CSS from Above */

  body.demo:before {
      content: 'Medium (768px-1049px)';
      background: #bcb83d;
  }
}

/* LARGE+ (NOTEBOOK) */
@media (min-width: 1050px) {

  /* Inherit Medium/Tablet CSS from Above */
  body {
      font-size: 100%;
  }

  .container {
      width: 900px;
      margin: 0 auto;
      padding: 0 50px;
  }

  body.demo:before {
      content: 'Large (1050px-1249px)';
      background: coral;
  }
}

/* EXTRALARGE+ (DESKTOP) */
@media (min-width: 1250px) {

  /* Inherit Large/Notebook CSS from Above */
  body {
      font-size: 112.5%;
  }

  .container {
      width: 1100px;
  }

  body.demo:after {
      content: 'ExtraLarge (1250px+)';
      background: teal;
  }
}

/* GRID */
/* Default Grid (on SMALL+ Screen Sizes) */


* {box-sizing: border-box;}

.row .column {
  margin-bottom: 2%;
}


.row .column .one-half {
  padding: 1em;
}

/* Medium Grid (on MEDIUM+ Screen Sizes) */
@media (min-width: 768px) {

  .row {
      display: flex;
      justify-content: center;
      margin-left: -1%;
      margin-right: -1%;
      justify-content: center;
  }

  .row .column {
      flex-grow: 1;
      margin-left: 1%;
      margin-right: 1%;
  }

  .column.centered {
      flex-grow: 0;
  }

  .one-whole.column { 
    width: 100%; 
  }
  .one-half.column { 
    width: 48%; 
  }
  .one-third.column { 
    width: 31.3333% 
  }
  .two-thirds.column { 
    width: 64.6666% 
  }
  .one-forth.column { 
    width: 23% 
  }
}


/* FOR DEMO PURPOSE ONLY */

.demo .column {
  background: white;
  padding: 1.5em 0;
  text-align: center;
}

.demo .column p {
  padding: 0 .5em;
  margin-bottom: 0;
}


/* BASE SITE */

/* SITE STRUCTURE */

/* Header & Footer */

header, footer {
  background:palevioletred;
}

.site-header a, 
.site-footer a {
  color: white;
}

.site-header a:hover,
.site-footer a:hover {
  color: teal;
  text-decoration: none;
}

/* Header Only */

.site-header {
  padding-top: 1em;
}

@media (min-width: 768px) {
  .site-header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 0.75em;
  }
}

Site Branding

.site-identity {
  text-align: center;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: 0;
}

.site-identity h1 a {
  display: block;
  padding: .6em 0;
}

@media (min-width: 768px) {
  .site-footer .container {
      display: flex;
      justify-content: center;
      padding-bottom: 1em;
  }
}

/* Main section */

.site-main {
  padding-top: 1.5em; 
}

section {
  padding: 1.5em 0;
}

.hero {
  background: #ccc; 
  padding-top: 3em;
  padding-bottom: 6em;
}

.hero h1,
.hero h2 {
  font-size: 3em;
  line-height: 1.1em;
  max-width: 10em;
}

.hero p  {
  max-width: 22em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero h1,
.hero h2  {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  }

/* Site Navigation */

.site-navigation ul {
  border-top: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

.site-navigation ul {
  margin: 0;
  padding: 0;
}

.site-navigation ul li {
  list-style: none;
  display: inline-block;
}
/*inline-block moves content vertical to horizontal*/
/* to make entire padding clickable, put padding on a tag */

.site-navigation ul li a {
  display: block;
  padding: 1em 2em;
  background: lightblue;
}
/* ^ use 2 line of code and put code on a tag for better user experience */

.site-footer .site-navigation ul {
      border-top: none;    
}

@media (min-width: 768px) {
  .site-navigation ul {
      border-top: none;
      margin: 0;
      padding: 0;
  }
  .site-navigation ul li {
      display: inline-block;
      }
   .site-navigation ul li li {
      display: block;
          }
}

/* Footer */

footer {
  text-align: center;
}

.site-footer .container {
  padding-top: 0;
  padding-bottom: 1em;
}

.site-footer .container:before {
  display: block;
  content: '';
  border-top: 1px solid #ddd;
  padding-bottom: 1em;
}